
/* 页脚半透明 */
#footer {
    background: rgba(210, 85, 241, 0);
    color: rgb(241, 75, 75);
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    backdrop-filter: saturate(100%) blur(5px)
}

#footer::before {
    background: rgba(179, 18, 138, 0)
}
